<a href="https://colab.research.google.com/github/monali0802/theclassofai/blob/main/DataDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#First way of loading data: Manully locate the file

In [3]:
from google.colab import files
uploaded = files.upload()

Saving sample-zip-file.zip to sample-zip-file.zip

In [4]:
#Unzip Data
from zipfile import ZipFile
filename = 'sample-zip-file.zip'
with ZipFile(filename, 'r') as zip:
  zip.extractall()
  print('Done')

Done

In [6]:
import pandas as pd
df = pd.read_csv('sample.txt')
df.head()

  I would love to try or hear the sample audio your app can produce. I do not want to purchase   because I've purchased so many apps that say they do something and do not deliver.
0  Can you please add audio samples with text you...                                                                                          NaN
1                                            Thanks!                                                                                          NaN

#Second way of loading data: Mounting Google Drive

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
from zipfile import ZipFile
file_name = '/content/drive/My Drive/sample-zip-file.zip'
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('Done')

Done

In [10]:
import pandas as pd
df = pd.read_csv('sample.txt')
df.head()

  I would love to try or hear the sample audio your app can produce. I do not want to purchase   because I've purchased so many apps that say they do something and do not deliver.
0  Can you please add audio samples with text you...                                                                                          NaN
1                                            Thanks!                                                                                          NaN

#Third way of loading data: Using git

In [3]:
! git clone https://github.com/datasets/country-list.git

Cloning into 'country-list'...
remote: Enumerating objects: 96, done.
remote: Total 96 (delta 0), reused 0 (delta 0), pack-reused 96
Unpacking objects: 100% (96/96), done.
fatal: destination path 'country-list' already exists and is not an empty directory.

In [4]:
import pandas as pd
df=pd.read_csv('country-list/data.csv')
df.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS