<a href="https://colab.research.google.com/github/monali0802/theclassofai/blob/main/Lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#If statement

In [3]:
x = 12
print(x<=72)

True

In [4]:
age = 19
if age > 17:
  print("Drive")
else:
  print("you can't drive")

Drive

In [6]:
age = 2
if age >= 18:
  print("You can watch")
elif age >= 12 and age <= 18:
  print("You can watch with someone")
else:
  print("you can't watch movie")

you can't watch movie

In [9]:
age = int(input("What's your age in years please?"))
if age >= 18:
  print("You can watch")
elif age >= 12 and age <= 18:
  print("You can watch with someone")
else:
  print("you can't watch movie")

What's your age in years please?15
You can watch with adult

#While Loop

In [11]:
i = 1
while i <= 4:
  print(i)
  i += 1

1
2
3
4

In [12]:
i = 1
while i < 10:
  print(i)
  if i == 5:
    break;
  i += 1

1
2
3
4
5

In [15]:
i = 0
while i < 10:
  i += 1
  if i == 5:
    continue;
  print(i)

1
2
3
4
6
7
8
9
10

#For Loop

In [16]:
cars = ['Bmw', 'Toyota', 'Audi', 'Kia', 'Honda']
for x in cars:
  print(x)

Bmw
Toyota
Audi
Kia
Honda

In [17]:
for x in "Toyota":
  print(x)

T
o
y
o
t
a

In [18]:
cars = ['Bmw', 'Toyota', 'Audi', 'Kia', 'Honda']
for x in cars:
  print(x)
  if x == 'Audi':
    break

Bmw
Toyota
Audi

In [21]:
cars = ['Bmw', 'Toyota', 'Audi', 'Kia', 'Honda']
for x in cars:
  
  if x == 'Audi':
    continue
  
  print(x)

Bmw
Toyota
Kia
Honda

In [22]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [23]:
for x in range(3,6):
  print(x)

3
4
5

In [24]:
for x in range(6):
  print(x)
else:
  print("finish")

0
1
2
3
4
5
finish

In [25]:
cars = ['Bmw', 'Toyota', 'Audi', 'Kia', 'Honda']
bike = ['Honda', 'Yamaha']
for x in cars:
  for y in bike:
    print(x,y)

Bmw Honda
Bmw Yamaha
Toyota Honda
Toyota Yamaha
Audi Honda
Audi Yamaha
Kia Honda
Kia Yamaha
Honda Honda
Honda Yamaha